:root {
  --blue-color: #2b579e;
  --green-color: #85bc3c;
}
.swal2-styled.swal2-confirm {
  background-color: var(--green-color) !important;
  padding: 0.625em 1.8em !important;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px !important;
}
.swal2-styled.swal2-cancel {
  background-color: red;
}
.swal2-styled.swal2-confirm:focus,
.swal2-styled.swal2-cancel:focus {
  box-shadow: none !important;
}
