* {
  scroll-behavior: smooth;
}
::selection {
  background-color: #85bc3c !important;
  color: #fff;
}

.logo-image {
  position: absolute;
  top: -80px;
  width: 220px !important;
}
@media only screen and (max-width: 767px) {
  .site-logo img {
    max-width: 220px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .site-logo img {
    max-width: 220px !important;
  }
}

.footer-area {
  background-color: #000 !important;
}

.hero-area:after {
  /* background-color: #2b7e47 !important; */
  /* background-color: #3cbcb4 !important; */
  background-color: #333 !important;
  opacity: 0.9;
}
.hero-text .subtitle {
  text-shadow: 0 0 15px black;
}

.hero-text h3 {
  text-shadow: 0 0 2px black;
}

.copyright {
  background-color: #000 !important;
  border-top: 1px solid #85bc3c;
}
@media (min-width: 992px) {
  .top-header-area {
    padding: 5px 0 !important;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.breadcrumb-section:after {
  background-color: #274400;
  /* background: #2b7e47; */
  background: #333;
  opacity: 0.9;
}

.breadcrumb-text p {
  letter-spacing: 2px;
  font-size: 1.5rem;
  color: #85bc3c;
}
input[type="submit"] {
  /* background-color: #274400; */
  background-color: #85bc3c;
  color: #fff;
  border-radius: 5px !important;
  padding: 7px 14px;
}

.mean-container .mean-nav,
.mean-bar a.meanmenu-reveal {
  background-color: #38aa5f;
}

.mean-container a.meanmenu-reveal span,
.mean-container a.meanmenu-reveal {
  color: #fff;
}
.mean-container a.meanmenu-reveal span {
  background-color: #fff;
}
.product-image img {
  height: 100px;
  width: unset;
  object-fit: contain;
}

.hero-bg {
  background-image: url("../img/hero-section-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav.main-menu ul li.current-list-item > a {
  color: #85bc3c;
}
a.cart-btn {
  background-color: #85bc3c !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

a.cart-btn:hover {
  background-color: #fff !important;
  transform: translateY(-5px);
}

a.boxed-btn {
  background-color: #85bc3c;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

a.bordered-btn {
  border: 2px solid #85bc3c;
}

a.boxed-btn:hover {
  background-color: #000;
  color: #fff !important;
}

a.bordered-btn:hover {
  background-color: #85bc3c;
  color: #fff;
}

nav.main-menu li:hover > a {
  color: #85bc3c;
}

.list-box .list-icon i {
  color: #85bc3c;
  border: 2px #85bc3c dotted;
}

.top-header-area .header-icons a:hover {
  color: #85bc3c;
}

.lightblue-text {
  color: #3cbcb4;
  color: #85bc3c;
}

.shop-banner .sale-percent {
  color: #85bc3c;
}

a.video-play-btn {
  background-color: #85bc3c;
  color: #fff;
}

.section-title h3:after {
  background-color: #85bc3c;
}
.shop-banner .sale-percent {
  color: #85bc3c;
}

.time-countdown .counter-column {
  border: 2px solid #85bc3c;
}
.time-countdown .counter-column .count {
  color: #85bc3c;
}
.cart-banner .image-column .price-box {
  color: #85bc3c;
}

.cart-banner .image-column .price-box .inner-price {
  background-color: #85bc3c;
}
.cart-banner .image-column .price-box .inner-price .price strong {
  color: #fff;
}
.cart-banner .image-column .price-box .inner-price .price {
  color: #fff;
}

.cart-banner .image-column .price-box {
  background-color: #85bc3c;
}

h2.widget-title:after {
  background-color: #fff;
}
.footer-box.pages ul li:before {
  color: #fff;
}
.footer-box.subscribe form button {
  color: #fff;
}
.copyright a {
  color: #85bc3c;
}
.circle:before {
  border-left: 3px solid #bc3c45;
}
.circle:after {
  color: #85bc3c;
  border-right: 2px solid #85bc3c;
}
.circle {
  border-right: 4px solid #85bc3c;
}

.contact-form-box h4 i {
  color: #85bc3c;
}
.find-location p i {
  color: #000;
}

input[type="submit"]:hover {
  color: #fff;
}

.contact-form-box h4 {
  color: #85bc3c;
}

a.cart-btn:hover {
  background-color: #333;
  color: #333;
}

.form-title h2 {
  color: #85bc3c;
}

.red-bg {
  background-color: #bc3c45;
}

.footer-box ul li {
  opacity: 1;
}
.footer-box p {
  opacity: 1;
  text-align: justify;
}
h2.widget-title:after {
  left: 10px;
  bottom: 20px;
  width: 60px;
  height: 1px;
  content: "";
}

h2.widget-title {
  font-weight: bold;
  text-shadow: 0 0 1px white;
  color: #85bc3c;
}
.footer-box.pages ul li {
  padding-left: 15px;
}
.footer-area {
  padding: 80px 0;
  /* margin-top: 50px; */
}

.footer-box.pages ul li:hover a {
  color: #85bc3c !important;
  font-weight: bold;
}

.copyright a:hover {
  color: #85bc3c !important;
}

.footer-box.subscribe form button:hover {
  background-color: #fff;
  color: #333;
}
.fa-map-marker-alt:before {
  text-shadow: 0 0 2px #fff;
  border-bottom: 1px solid #000;
  border-radius: 10px;
  padding-bottom: 5px;
}
.find-location p {
  text-shadow: 0 0 1px #fff;
  padding: 25px 0;
  color: #000;
}
.footer-box.subscribe form input[type="email"] {
  background-color: #fff;
}
.footer-box.subscribe form button {
  background-color: #85bc3c;
  color: #fff;
}

.footer-box.subscribe form input[type="email"] {
  color: #333;
}

.footer-box.subscribe form input[type="email"]:focus-visible {
  outline: none;
}

.social-icons ul li a {
  opacity: 1;
}
.copyright p {
  opacity: 1;
}
.search-bar-tablecell button[type="submit"] {
  background-color: #85bc3c;
  color: #fff;
}
.search-bar-tablecell input {
  border-bottom: 1px solid #85bc3c;
  font-size: 20px;
  width: unset;
}

.search-bar-tablecell input:focus-visible {
  outline: navajowhite;
}

::placeholder {
  color: #ccc !important;
}
.search-area.search-active {
  opacity: 0.99;
}

.product-image {
  padding: 20px !important;
}
.single-product-item {
  padding-bottom: 20px !important;
}

.single-product-item:hover {
  box-shadow: 0 0 30px #ccc !important;
  background-color: #85bc3c;
}

.single-product-item:hover h3 {
  color: #fff;
}

.footer-box.subscribe form input[type="email"] {
  padding: 14px;
}
iframe {
  height: 400px !important;
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: relative;
}
.embed-responsive-21by9::before {
  padding-top: 0;
}
.contact-from-section {
  margin: 50px 0 !important;
}

.fas .fa-window-close {
  font-size: 25px;
}

.contact-top-section {
  background-image: url("../img/contact-us-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-top-section {
  background-image: url("../img/about-top.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature-bg:after {
  background-image: url("../img/about-top.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  border: 4px solid #333;
  border-right: 0;
}

.green-text {
  color: #85bc3c;
}

ul.social-link-team li a {
  background-color: #85bc3c;
  box-shadow: 0 0 15px #ccc;
}

.team-bg-1 {
  background-image: url("../img/Shaista.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team-bg-2 {
  background-image: url("../img/Mario\ Tankle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team-bg-3 {
  background-image: url("../img/samila\ rich.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.team-bg {
  height: 300px !important;
}

.client-avater {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50% !important;
  margin: auto;
}

.client-avater img {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50% !important;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.testimonail-section {
  background-color: #fff5ee;
}
.single-product-top {
  background-image: url("../img/hero-section-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.single-product-top::after {
  background-color: #274400;
}

.cart-section-top {
  background-image: url("../img/hero.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.checkout-top-section {
  background-image: url("../img/checkout-top.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.7;
}

#toTop {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
#toTop:hover {
  background-color: #85bc3c;
}
.billing-address-form form p input {
  border-radius: 5px;
  padding: 8px;
}

nav.main-menu ul ul.sub-menu {
  top: 45px;
  left: 25px;
  padding: 10px;
  width: 185px;
}

nav.main-menu ul ul.sub-menu li:hover,
nav.main-menu ul ul.sub-menu li a:hover {
  color: #85bc3c !important;
}
